<h1>Listing <%= name.downcase.pluralize %></h1>

<table>
	<%- for attribute in attributes -%>
    <th><%= attribute[0].titleize %></th>
  <%- end -%>
  <tr>
  </tr>

<%% @<%= name.downcase.pluralize %>.each do |<%= name.downcase %>| %>
  <tr>
	  <%- for attribute in attributes -%>
	    <td><%%=h <%= name.downcase%>.<%= attribute[0].downcase %> %></td>
	  <%- end -%>
    <td><%%= link_to 'Show', <%= name.downcase %> %></td>
    <td><%%= link_to 'Edit', edit_<%= name.downcase %>_path(<%= name.downcase %>) %></td>
    <td><%%= link_to 'Destroy', <%= name.downcase %> , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%% end %>
</table>

<br />

<%%= link_to 'New <%= name.downcase %>', new_<%= name.downcase %>_path %>