<%- for attribute in attributes -%>
<p>
  <strong><%= attribute[0].titleize %>:</strong>
  <%%=h @<%= name.downcase %>.<%= attribute[0].downcase %> %>
</p>
<%- end -%>

<%%= link_to 'Edit', edit_<%= name.downcase %>_path(@<%= name.downcase %>) %> |
<%%= link_to 'Back', <%= name.downcase.pluralize %>_path %>