<h1>Listing <%= name.downcase.pluralize %></h1>

<table>
  <tr>
  </tr>

<%% @<%= name.downcase.pluralize %>.each do |<%= name.downcase %>| %>
  <tr>
    <td><%%= link_to 'Show', <%= name.downcase %></td>
    <td><%%= link_to 'Edit', edit_<%= name.downcase %>_path(<%= name.downcase %>) %></td>
    <td><%%= link_to 'Destroy', <%= name.downcase %> , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%% end %>
</table>

<br />

<%%= link_to 'New <%= name.downcase %>', new_<%= name.downcase %>_path %>